.ModelCard {
    width: 250px;
    height: 550px;
    max-width: 250px;
    max-height: 600px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.MyCardImage {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.modelTitle {
    color: black;
    text-decoration: none; 
}

.modelTitle a:hover {
    color: black;
    text-decoration: none; 
}

.inactive {
    color: #fff;
    text-decoration: none;
}

.button {
    margin-top: auto;
    margin-bottom: 10px;
    position: relative;
}

.button a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
