.About {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}