.AboutMeCard {
    width: 330px;
    align-items: center;
    justify-content: center;
}

.AboutMeImage {
    max-width: 230;
    max-height: 300;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


