.Teammates {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    align-items: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.CardDeck {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}