.locationImg {
    border-radius: 8px;

    max-width: 100%;
    height: auto;
}

.logoImg {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.FSideInfo {
    overflow-wrap: break-word;
}