.modelCol {
    padding-bottom: 30px;
}

.pagination {
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
    border: 1px solid #ddd; /* Gray */
    font-size: 22px;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a.active {
    border-radius: 5px;
    background-color: rgb(6, 153, 153);
}

.pagination a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.searchBar {
    padding-top: 30px;
    padding-bottom: 30px;
}

.searchRow {
    justify-content: center;
}

.searchButton {
    padding-left: 20px;
}
